@font-face {
  font-family: "lato-regular";
  src: url("../fonts/lato/Lato-Regular.ttf");
}
.btnStyle {
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 3px;
}

.sectionServiceImg1, .sectionServiceImg2, .sectionServiceImg3 {
  width: 50%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 15px 10%;
}
section nav ul {
  list-style: none;
  display: flex;
}
section nav ul li {
  color: #747474;
}
section nav ul li a {
  text-decoration: none;
}
section nav ul li a:visited {
  color: #747474;
}
section nav ul li a:hover {
  color: #1D1D1F;
}

.hautDePage {
  background-color: #E7816B;
  border-radius: 15px;
  position: relative;
  padding-left: 50px;
  overflow: hidden;
  width: 80vw;
  margin: 0 auto 50px;
}
.hautDePage h1 {
  font-weight: 700;
  padding-bottom: 20px;
}
.hautDePage p {
  padding-bottom: 20px;
}
.hautDePage img {
  height: 400px;
  position: absolute;
  right: 10%;
  top: 10%;
}
.hautDePage div {
  padding: 50px 30px;
  color: #FFFFFF;
}
.hautDePage .btnMore {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 8px black;
  color: #1D1D1F;
}
.hautDePage .btnMore span {
  position: relative;
  left: 0px;
  transition: all 0.2s ease-in-out;
}
.hautDePage .btnMore:hover span {
  left: 5px;
  color: #e0a80d;
}

.sectionServices {
  border-radius: 15px;
  margin: 0 auto 50px;
  height: 60vh;
  width: 100%;
  display: flex;
}
.sectionServices div {
  height: 100%;
  width: 100%;
  gap: 5px;
}
.sectionServices div div {
  gap: 5px;
}
.sectionServices div .sectionServiceImg1 {
  background-image: url("../img/homme-assis-batiment.jpg");
  height: 100%;
}
.sectionServices div .sectionServiceImg1 a {
  text-decoration: none;
}
.sectionServices div .sectionServiceImg1 a div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;
}
.sectionServices div .sectionServiceImg1 a div span {
  left: 0;
  position: relative;
  color: #e0a80d;
  transition: all 0.2s ease-in-out;
}
.sectionServices div .sectionServiceImg1 a div:hover span {
  left: 10px;
}
.sectionServices div .sectionServiceImg1 a:hover div {
  background-color: rgba(0, 0, 0, 0.8);
}
.sectionServices div .sectionServiceImg2 {
  background-image: url("../img/passport.jpg");
  height: 50%;
}
.sectionServices div .sectionServiceImg2 a {
  text-decoration: none;
}
.sectionServices div .sectionServiceImg2 a div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;
}
.sectionServices div .sectionServiceImg2 a div span {
  left: 0;
  position: relative;
  color: #e0a80d;
  transition: all 0.2s ease-in-out;
}
.sectionServices div .sectionServiceImg2 a div:hover span {
  left: 10px;
}
.sectionServices div .sectionServiceImg2 a:hover div {
  background-color: rgba(0, 0, 0, 0.8);
}
.sectionServices div .sectionServiceImg3 {
  background-image: url("../img/montgolfiere.jpg");
  height: 50%;
}
.sectionServices div .sectionServiceImg3 a {
  text-decoration: none;
}
.sectionServices div .sectionServiceImg3 a div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;
}
.sectionServices div .sectionServiceImg3 a div span {
  left: 0;
  position: relative;
  color: #e0a80d;
  transition: all 0.2s ease-in-out;
}
.sectionServices div .sectionServiceImg3 a div:hover span {
  left: 10px;
}
.sectionServices div .sectionServiceImg3 a:hover div {
  background-color: rgba(0, 0, 0, 0.8);
}

.sectionFeatures {
  background-image: url("../img/wave.svg");
  background-size: cover;
  background-position: start;
  flex-direction: column;
  text-align: end;
}
.sectionFeatures div {
  padding: 20px;
}
.sectionFeatures div h5 {
  font-size: 1.5rem;
  margin: 15px 0;
}
.sectionFeatures div i {
  color: #E7816B;
}
.sectionFeatures h2 {
  margin-bottom: 80px;
}

.footerContainer {
  margin-top: 20vh;
  padding-top: 30vh;
  position: relative;
  max-width: 1500px;
}
.footerContainer ul {
  list-style: none;
  display: flex;
}
.footerContainer ul li {
  color: #747474;
}
.footerContainer ul li a {
  text-decoration: none;
}
.footerContainer ul li a:visited {
  color: #747474;
}
.footerContainer ul li a:hover {
  color: #1D1D1F;
}
.footerContainer ul {
  gap: 25px;
}
.footerContainer .contactDiv {
  background-color: #E7816B;
  height: 40vh;
  top: -150px;
  border-radius: 15px;
  padding-left: 20px;
  position: absolute;
}
.footerContainer .contactDiv .btnMore {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 8px black;
  color: #1D1D1F;
}
.footerContainer .contactDiv .btnMore span {
  position: relative;
  left: 0px;
  transition: all 0.2s ease-in-out;
}
.footerContainer .contactDiv .btnMore:hover span {
  left: 5px;
  color: #e0a80d;
}
.footerContainer .contactDiv .contactTxt {
  margin: auto;
}
.footerContainer .contactDiv .btnInTouch {
  margin: auto;
  text-align: center;
}
.footerContainer .footerFirstPart {
  border-bottom: 1px solid grey;
  padding-bottom: 50px;
  justify-content: space-between;
}
.footerContainer .footerFirstPart .listeuStyle:hover a {
  color: white;
}
.footerContainer .footerSecondPart {
  padding: 40px 0;
}
.footerContainer .footerSecondPart p {
  font-size: 0.75rem;
  margin: 0;
  color: grey;
}
.footerContainer .footerSecondPart i {
  color: #FFFFFF;
}
.footerContainer .footerSecondPart .socials {
  gap: 10px;
  justify-content: end;
}

footer {
  background-color: #1D1D1F;
}

body {
  font-family: "lato-regular";
  background-color: #F5F5F5;
}

main {
  background-color: #FFFFFF;
}

header {
  background-color: #FFFFFF;
}

.logo {
  height: 50px;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .hautDePage img {
    display: none;
  }
  h2, h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.75rem;
  }
  .footerFirstPart {
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }
  .footerFirstPart ul {
    display: flex;
    flex-direction: column;
  }
  .footerSecondPart {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footerSecondPart div {
    padding-bottom: 15px;
  }
  .footerSecondPart .socials {
    justify-content: center !important;
  }
  .contactDiv {
    top: -120px !important;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .sectionFeatures {
    text-align: center;
  }
  .sectionFeatures .cardFeature {
    flex-direction: column;
    display: flex;
    gap: 15px;
  }
  .sectionFeatures .cardFeature div {
    display: contents;
  }
  .sectionServices {
    padding: 0 10px;
    height: 80vh;
    text-align: center;
  }
  .sectionServices .sectionContainerImgService {
    flex-direction: column;
  }
  .sectionServices .sectionContainerImgService .sectionServiceImg1 {
    height: 50% !important;
  }
  .sectionServices .sectionContainerImgService div .sectionServiceImg2 {
    height: 50%;
  }
  .sectionServices .sectionContainerImgService div .sectionServiceImg3 {
    height: 50%;
  }
  .footerFirstPart {
    justify-content: center !important;
  }
}
@media (max-width: 1200px) {
  .contactDiv {
    border-radius: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
