$color-primary: #FFFFFF;
$color-secondary: #E7816B;
$color-optional1: #1D1D1F;
$color-optional2: #747474;
$color-golden: #e0a80d;
$font: 'lato-regular';
@font-face {
    font-family: $font;
    src: url("../fonts/lato/Lato-Regular.ttf");
}