.footerContainer{
    margin-top: 20vh;
    padding-top: 30vh;
    position: relative;
    @include ulList;
    ul{
        gap: 25px;
    }
    max-width: 1500px;
    .contactDiv{
        background-color: $color-secondary;
        height: 40vh;
        top: -150px;
        border-radius: 15px;
        padding-left: 20px;
        position: absolute;
        .btnMore {
            background-color: $color-primary;
            box-shadow: 2px 2px 8px black;
            color: $color-optional1;
    
            span {
                position: relative;
                left: 0px;
                transition: all 0.2s ease-in-out;
            }
    
            &:hover span {
                left: 5px;
                color: $color-golden;
            }
        }
        .contactTxt{
            margin: auto;
        }
        .btnInTouch{
            margin: auto;
            text-align: center;
        }
    }
    .footerFirstPart{
        border-bottom: 1px solid grey;
        padding-bottom: 50px;
        justify-content: space-between;
        .listeuStyle{
            &:hover a{
                color: white;
            }
        }
    }
    .footerSecondPart{
        padding: 40px 0;
        p{
            font-size: 0.75rem;
            margin: 0;
            color: grey;
        }
        i{
            color: $color-primary;
        }
        .socials{
            gap: 10px;
            justify-content: end;
        }
    }
}
footer {
    background-color: $color-optional1
}
